#rangeVotingVote.container
  .row.text-center
    %h2
      %b> {{campaigns.length < 1 ? "" : "Campaign" }} Voting Ballot {{campaigns.length < 1 ? "" : " for " }} {{campaigns.length < 1 ? "" : "'"+campaigns[0].title+"'" }}
  %br
    %br
      .row.voting-content
        .col-md-4.col-sm-4.left
          %h3
            %b Campaign Themes and Proposals
          .theme-proposals{"ng-repeat" => "theme in themes"}
            %h4.theme
              %b {{theme}}
            %ul.list-unstyled.proposals
              %li.proposal-names{"ng-repeat" => "proposal in themeMap[theme]"} {{proposal}}
        .col-md-8.col-sm-8.right
          .buttons
            %ul.list-unstyled.list-inline
              %li
                %input.form-control{"ng-model" => "query", :placeholder => "Enter keyword", :type => "text"}
              %li
                %button.btn.btn-secondary{"data-target" => "#instructions", "data-toggle" => "modal", :type => "button"} Voting Instructions
              %li
                %button#save.btn.btn-success{"ng-click" => "saveBallot()", :type => "button"} Save
          / Modal for voting instructions
          #instructions.modal.fade{"aria-labelledby" => "instrLabel", :role => "dialog", :tabindex => "-1"}
            .modal-dialog{:role => "document"}
              .modal-content
                .modal-header
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} &times;
                  %h4#instrLabel.modal-title Voting Instructions
                .modal-body
                  .container.instructions
                    %h2.title
                      %strong Voting Instructions
                    %ul
                      %li{:type => "circle"} {{ballot.instructions}}
                      %li{:type => "circle"}
                        The voting system your Assembly selected and configured for this campaign is
                        %b {{ballot.voting_system_type}}
                      -#%li{:type => "none"}
                      -#  %ul
                      -#    %li{"ng-repeat" => "pair in ballot.ballot_configurations", :type => "circle"} The {{pair.key}} of this voting ballot is {{pair.value}}.
                      %li{:type => "circle"} When you are ready to vote, close the instruction window and start voting.
                  %br
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          %ul.list-unstyled.voted-proposals
            %li.voted-proposal.container{"ng-repeat" => "proposal in candidates | filter:query"}
              .proposal-content
                .col-md-2.col-sm-2.proposal-img-holder{"background-image" => "/../assets/images/image78.jpg", "data-target" => "\#{{proposal.uuid}}modal", "data-toggle" => "modal"}
                  %img.proposal-img{:src => "/../assets/images/image78.jpg"}
                .col-md-6.col-sm-6.data
                  %h4.title{"data-target" => "\#{{proposal.uuid}}modal", "data-toggle" => "modal"}
                    %b {{proposal.title}}
                    %img.img-circle{:src => "/../assets/images/image71.tiff"}/
                  %h5{"data-target" => "\#{{proposal.uuid}}modal", "data-toggle" => "modal"}
                    %b> Estimated Cost:
                    {{proposal.budget|currency}}
                  -#%h5{"data-target" => "\#{{proposal.uuid}}modal", "data-toggle" => "modal"}
                  -#  %b> Location:
                  -#  Berkeley, CA 94720
                  %p.description
                    %span{"data-target" => "\#{{proposal.uuid}}modal", "data-toggle" => "modal"} {{proposal.text}}
                    %span.rate{"ng-if" => "ballot.voting_system_type==='RANGE'"}
                      %input.form-control{:id => "{{proposal.uuid}}", "ng-model" => "proposal.value", :placeholder => "{{scores[proposal.uuid]}}", :type => "number", :min => "{{minimumPossibleScore()}}", :max => "{{maximumPossibleScore()}}"}/
                    %span.rate{"ng-if" => "ballot.voting_system_type==='PLURALITY'"}
                      %consensus-controls{:id => "{{proposal.uuid}}", :bballot => "ballotUUID", :ballotpaper => "ballotPaper", :contribution => "proposal"}/
              -#/ Modal for information of the candidate
              .modal.fade{"aria-labelledby" => "{{proposal.uuid}}Label", :id => "{{proposal.uuid}}modal", :role => "dialog", :tabindex => "-1"}
                .modal-dialog{:role => "document"}
                  .modal-content
                    .modal-header
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} &times;
                      %h4.modal-title{:id => "{{proposal.uuid}}Label"} {{proposal.title}}
                    .modal-body
                      %h3
                        %b {{proposal.title}}
                      %h5
                        %b Authors:
                        %span{"ng-repeat" => "author in proposal.authors"} {{author}}
                      %h5
                        %b Working Group Authors:
                        %span{"ng-repeat" => "author in proposal.workingGroupAuthors"} {{author}}
                      %h5.theme-holder
                        %b Themes:
                        %span.themes{"ng-repeat" => "theme in proposal.themes"} {{theme}}
                      %br
                        %img.pull-right{:src => "/../assets/images/image78.jpg"}
                          %p {{proposal.text}}
                          %br
                            %h5
                              %b Comments:
                            %p.comments{"ng-repeat" => "comment in proposal.comments"} {{comment}}
                    .modal-footer
                      %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
